{{#if updateItemForm}}
  <h2>Update Item :</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title: </label>
        {{input value=item.title id="title"}}
      </div>

      <div class="form-group">
        <label for="description">Description: </label>
        {{input value=item.description id="description"}}
      </div>

      <div class="form-group">
        <label for="price">Price: </label>
        {{input value=item.price id="price"}}
      </div>

      <div class="form-group">
        <label for="image">Image: </label>
        {{input value=item.image id="image"}}
      </div>

      <div class="form-group">
        <label for="detail">Detail: </label>
        {{input value=item.detail id="detail"}}
      </div>

      <div class="form-group">
        <label for="quantity">Quantity: </label>
        {{input value=item.quantity id="quantity"}}
      </div>
      <button {{action 'update' item}}>Save</button>

    </form>
  </div>
{{else}}
  <button {{action 'updateItemForm'}}>Update</button>
{{/if}}
