{{#if updateItemForm}}
  <h2>Update Item :</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title: </label>
        {{input value=item.title id="updateTitle"}}
      </div>

      <div class="form-group">
        <label for="description">Description: </label>
        {{input value=item.description}}
      </div>

      <div class="form-group">
        <label for="price">Price: </label>
        {{input value=item.price }}
      </div>

      <div class="form-group">
        <label for="image">Image: </label>
        {{input value=item.image}}
      </div>

      <div class="form-group">
        <label for="detail">Detail: </label>
        {{input value=item.detail}}
      </div>

      <div class="form-group">
        <label for="quantity">Quantity: </label>
        {{input value=item.quantity}}
      </div>
      <button {{action 'update' item}} class="btn btn-success btn-xs">Save</button>
      <span {{action "cancel"}} class="btn btn-default btn-xs">Cancel</span>
    </form>
  </div>
{{else}}
  <span {{action 'updateItemForm'}} class="btn btn-default btn-xs">Update</span>
  <span {{action "delete" item}} class="btn btn-default btn-xs">Delete</span>
{{/if}}
