<div class="container">
  <div class="background col-sm-4">
    <h3>{{model.title}}</h3>
    <img class="img-rounded" id="boxshadow" src="{{model.image}}" alt="Image Loading...">
    <h4>Price: ${{model.price}}</h4>
    <h5>Description: <span class="thin-text">{{model.description}}</span></h5>
    <h5>Item detail: <span class="thin-text">{{model.detail}}</span></h5>

  </div>

</div>
